*.o
*.a
*.so
*.pc
*.log
*.dSYM
config.mf
bin/PageConvert
bin/PageList
bin/PlasmaCrypt
bin/PlasmaSum
bin/PrcExtract
bin/Prp2Obj
bin/PrpPack
bin/PyPack
bin/dsData
bin/mkmfs
bin/prcc
bin/prcdc
bin/prp-fuse
bin/prpgrep
bin/prpmod
Misc/TypeMap

/log
/dat
/doc
/build
/build64
/Dist
/Dist64
/.kdev4
